@model List<AvaliacaoLP3.ViewModels.LojaViewModel>

@{
    ViewData["Title"] = "Lista de lojas";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h1> Lojas: @Model.Nome</h1>